.modal-main {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 5px;

  background: rgb(94, 47, 16);
  border: 2px solid yellow;
  min-height: 80px;
  color: white;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.big-farmer {
  display: inline-flex;
  background-image: url("/characters/bigfarmer.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.message-section {
  max-width: 400px;
  margin: auto;
}
