.tile {
  display: inline-flex;
  background-color: rgb(72, 141, 16);
}

.grass {
  background-size: 40px 40px;
}

.rock {
  background-image: url("/react-game/tiles/rocks2.png");
  background-size: 40px 40px;
}

.tree {
  background-image: url("/react-game/tiles/round-tree.png");
  background-size: 40px 40px;
}
.tree-forest {
  background-image: url("/react-game/tiles/tree-forest.png");
  background-size: 40px 40px;
}

.chest {
  background-image: url("/react-game/tiles/chest.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.hole {
  background-image: url("/react-game/tiles/hole.png");
  background-size: 40px 40px;
}

.river {
  background-image: url("/react-game/tiles/river.png");
  background-size: 40px 40px;
}

.river-down-to-right {
  background-image: url("/react-game/tiles/river-down-to-right.png");
  background-size: 40px 40px;
}
.river-left-to-down {
  background-image: url("/react-game/tiles/river-left-to-down.png");
  background-size: 40px 40px;
}
.river-horiz {
  background-image: url("/react-game/tiles/river-horiz.png");
  background-size: 40px 40px;
}
.bridge {
  background-image: url("/react-game/tiles/bridge.png");
  background-size: 40px 40px;
}
.farmer {
  background-image: url("/react-game/tiles/farmer.png");
  background-size: 40px 40px;
}
.guard {
  background-image: url("/react-game/tiles/guard.png");
  background-size: 40px 40px;
}

.downsign {
  background-image: url("/react-game/tiles/downsign.png");
  background-size: 40px 40px;
}

.coins {
  background-image: url("/react-game/tiles/coins.png");
  background-size: 40px 40px;
}
