.tile {
  display: inline-flex;
  background-color: green;
}

.grass {
}

.rock {
  background-image: url("/tiles/rock.png");
  background-size: 40px 40px;
}

.tree {
  background-image: url("/tiles/tree.png");
  background-size: 40px 40px;
}

.chest {
  background-image: url("/tiles/chest.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.hole {
  background-image: url("/tiles/hole.png");
  background-size: 40px 40px;
}

.river {
  background-image: url("/tiles/river.png");
  background-size: 40px 40px;
}

.farmer {
  background-image: url("/tiles/farmer.png");
  background-size: 40px 40px;
}
